<!DOCTYPE html>
<html lang="zh-Hans">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta
			name="description"
			content="在线的文件翻译小工具，可以翻译markdown文件，并保存为.md格式。"
		/>
		<title>文件翻译</title>
		<!-- <link rel="icon" href="./favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="./favicon.ico" type="image/x-icon" /> -->
		<!-- <link href="./dist/css/bootstrap.min.css" rel="stylesheet" /> -->
		<link rel="stylesheet" href="style/style.css" />
	</head>
	<body>
		<div id="app">
			<header>
				<h1>文件翻译</h1>
				<div class="description">
					<p>
						基于百度翻译api的文件翻译小工具，请到<a
							href="https//fanyi-api.baidu.com"
							>百度翻译</a
						>申请AppId和Key。
					</p>
					<p>目前支持格式：txt、md</p>
				</div>
			</header>
			<main>
				<!-- 输入appid和key -->
				<div class="row">
					<label
						>App ID:
						<input type="text" placeholder="请输入App ID" v-model="appid" />
					</label>
					<label
						>Key:
						<input type="text" placeholder="请输入key" v-model="key" />
					</label>
				</div>

				<!-- 翻译区域 -->
				<div class="file-box" v-for="(file, index) in files" :key="index">
					<div class="row">
						<button
							type="button"
							class="btn-close icon"
							aria-label="Close"
							@click="onRemoveFile(index)"
						></button>
						<span class="file-name">{{file.name}}</span>
					</div>
					<div class="row-col">
						<!-- 选择语言 -->
						<div class="col">
							<select v-model="from">
								<option value="auto">自动检测</option>
								<option
									v-for="(lan, index) in languages"
									:key="index"
									:value="lan.code"
								>
									{{lan.name}}
								</option>
							</select>
							<button
								type="button"
								class="btn-swap icon"
								:disabled="!canSwap"
								@click="onSwapLanguage"
							></button>
							<select v-model="to">
								<option
									v-for="(lan, index) in languages"
									:key="index"
									:value="lan.code"
								>
									{{lan.name}}
								</option>
							</select>
							<!-- 翻译按钮 -->
							<button
								class="btn-translate"
								type="button"
								:disabled="!canTranslate"
								@click="onTranslate(file)"
							>
								<span v-if="!canTranslate">
									<i class="icon"></i>
									<i class="loading icon"></i>
								</span>
								<span v-if="canTranslate">翻译</span>
							</button>
						</div>

						<div v-if="file.result" class="col download-options">
							<div>
								<a :download="file.name" :href="getDownloadLink(file.dst)">
									<button type="button">保存译文</button>
								</a>
							</div>
							<div>
								<a :download="file.name" :href="getDownloadLink(file.result)">
									<button type="button">保存双语</button>
								</a>
							</div>
						</div>
					</div>

					<!-- 翻译文本预览区域 -->
					<div class="txt-area row-col">
						<div class="col">
							<textarea v-model="file.content" rows="10"></textarea>
						</div>
						<div class="col output-area">
							<pre>{{file.dst}}</pre>
						</div>
					</div>
				</div>

				<!-- 上传文件 -->
				<div class="row upload-box">
					<label for="file-input">上传文件：</label>
					<input type="file" id="file-input" ref="fileInput" multiple />
					<button type="button" @click="onImportFiles">📥 Import</button>
				</div>
				<div class="droptarget-wrap">
					<div id="droptarget" ref="dropTarget">把文件拖到此处</div>
				</div>
			</main>
		</div>
		<script src="./dist/js/store.legacy.min.js"></script>
		<script src="./dist/js/vue.global.prod.js"></script>
		<script src="./main.js" type="module"></script>
	</body>
</html>
